.container-login {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  color: white;
}

.container-form-login {
  background-color: rgb(44, 44, 53);
  width: 35%;
  border-radius: 30px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-title {
  font-weight: 300;
  color: whitesmoke;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-login-email-password {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 40px;
  border: 0px;
}

.form-login-div-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login-button {
  width: 40%;
  height: 40px;
  background-color: rgb(54, 54, 219);
  border: 0px;
  color: white;
  border-radius: 10px;
}

.form-login-links {
  color: white;
}

.form-login-create-account {
  color: rgb(202, 202, 221);
}

.form-register {
  font-size: 3em;
}

.register-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-list-users-table {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
}
